.button {
  
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 22px;
  padding: 20px;
  width: 454px;
  height: 20px;
  transition: all 0.5s;
  cursor: pointer;
  vertical-align: center;
  float: right;
  margin:7px;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
  
  
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  top: -12px;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

@media only screen and (max-width:530px) {
    
    .button {
        width: 100%!important;
        
    
    
}